<%- include('../layouts/header') %>
            <!-- Page Content-->
            <section class="py-5" id="features">
                <div class="container-fluid px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-12 col-12-small">
                            <%- include('../layouts/breadcrumb') %>
                            <h1 class="fw-bolder fs-5 mb-4"><%= pageInfo.pageTitle %> <% if (pageInfo.pagination.currentPage > 1) { %> - página <%= pageInfo.pagination.currentPage %><% } %></h1>
                            <p>Veja a lista de todos os CEPs do Brasil. CEP de cada rua, bairro, cidade e estado</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-9 col-12-small">

							<div class="table-wrapper"><table class="table table-bordered table-striped">
								<thead><tr><th>CEP</th><th>Logradouro Detalhado</th><th>Logradouro</th><th>Cidade</th></thead>
								<tbody>
								<% pageInfo.zips.forEach(function(zip) { %> 
									<tr itemscope itemtype="http://schema.org/PostalAddress"><td>
										<a href="<%= zip._url %>" itemprop="url">CEP <span itemprop="postalCode"><%= zip.zip %></span></a></td><td><%= zip.address %></td><td><a href="<%= zip._url_address %>" itemprop="url"><span itemprop="streetAddress"><%= zip.address_name %></span></a></td><td><a href="<%= zip._url_city %>" itemprop="url"><span itemprop="addressLocality"><%= zip.city_name %> / <%= zip.state_code %></span></a></td></tr>
								<% }); %>
								</tbody>
							</table></div>
                            <%- include('../layouts/pagination') %>

                        </div>
                        <div class="col-3 col-12-small">
					
                        </div>
                    </div>
                </div>
            </section>
<%- include('../layouts/footer') %>